* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(159, 186, 187);
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  row-gap: 2vh;
  padding: 5vh 1vw 1vh;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px black;
  background-color: white;
}

.hidden {
  display: none;
}

.opaque {
  opacity: 0.25;
}