.card {
  flex-basis: 190px;
  position: relative;

  img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 250ms;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.overlay {
  background-color: rgb(159, 186, 187);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0;
  z-index: -1;
  animation: confusion 750ms ease-out 1;
}


@keyframes confusion {
  0% { 
    opacity: 0;
    z-index: 1;
  }

  25% {
    opacity: 0.5;
    z-index: 1;
  }

  50% {
    opacity: 1;
    z-index: 1;
  }

  75% {
    opacity: 0.5;
    z-index: 1;
  }

  100% {
    opacity: 0;
    z-index: 1;
  }
}
