.scorecard {
  height: 10vh;
  padding: 0 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(95, 158, 160);
  box-shadow: 0 0 4px 2px cadetblue;
}

.scores {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4vw;
}

.logo {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
}
